@charset "iso-8859-1";
/* CSS Document */

body {
	background-image: url(../images/bg.png);
	background-repeat:repeat;
	font-family: Tahoma, Arial, sans-serif;
	color: #000;
    position:relative;
    font-size:70%;
}

#content_bg{
	background-image:url(../images/contentbg.gif);
	background-repeat:repeat-x;
	background-color:#FFF;
	width:932px;
	border-left:1px solid #8ca1b4;
	border-right:1px solid #8ca1b4;
}

#content {
	margin:0;
	padding:0;
}

A:link				{color: #385bcf; text-decoration: none;}
A:active			{color: #385bcf; text-decoration: underline;}
A:visited			{color: #385bcf; text-decoration: none;}
A:hover				{color: #385bcf; text-decoration: underline;}

.headline {
	background-color:#506066;
	color:#FFF;
	height:20px;
	font-size:110%;
	font-weight:bold;
	padding-left:10px;
	line-height:18px;
}

.menu {
	padding:3px;
}




a.submenu:link {
  text-decoration:none;
  color:#000000;
  border-bottom:1px solid #000000;
  display:block;
  padding:5px;
  padding-left:10px;
}

a.submenu:visited {
  text-decoration:none;
  color:#000000;
  border-bottom:1px solid #000000;
  display:block;
  padding:5px;
  padding-left:10px;
}

a.submenu:hover {
  display:block;
  color:#FFFFFF;
  text-decoration:none;
  border-bottom:1px solid #000000;
  background-color:#919190;
}

a.submenu:active {
  display:block;
  color:#FFFFFF;
  text-decoration:none;
  border-bottom:1px solid #000000;
  background-color:#919190;
}

.highlight_row {
	background-color:#DDDDDD;
}

.quote {
	border:1px solid #000000;
	padding:5px;
	background-color:#FFFFFF;
}