
<div class="headline">BB Codes</div>

<table width="100%" border="0" cellpadding="5" cellspacing="1">
	<tr>
		<td width="100">[b]</td>
		<td><strong>Bold</strong></td>
	</tr>
	<tr>
		<td>[i]</td>
		<td><em>Italic</em></td>
	</tr>
	<tr>
		<td>[u]</td>
		<td><u>Underline</u></td>
	</tr>
	<tr>
		<td>[s]</td>
		<td><s>Strikethrough</s></td>
	</tr>
	<tr>
		<td>[i]</td>
		<td>Italic</td>
	</tr>
	<tr>
		<td>[size=...]</td>
		<td>The font size</td>
	</tr>
	<tr>
		<td colspan="2"><hr noshadow size="1" /></td>
	</tr>
	<tr>
		<td>[url]</td>
		<td>URL</td>
	</tr>
	<tr>
		<td>[url=...]</td>
		<td>URL</td>
	</tr>
	<tr>
		<td>[url="..."]</td>
		<td>URL</td>
	</tr>
	<tr>
		<td colspan="2"><hr noshadow size="1" /></td>
	</tr>
	<tr>
		<td>[list]</td>
		<td>List</td>
	</tr>
	<tr>
		<td>[*]</td>
		<td>List Item</td>
	</tr>
	<tr>
		<td colspan="2"><hr noshadow size="1" /></td>
	</tr>
	<tr>
		<td>[img]</td>
		<td>Image</td>
	</tr>
	<tr>
		<td>[hr]</td>
		<td>Horizontal Rule</td>
	</tr>
	<tr>
		<td>[code]</td>
		<td>Disables BBCodes temporarily</td>
	</tr>
	<tr>
		<td colspan="2"><hr noshadow size="1" /></td>
	</tr>
	<tr>
		<td>[sup]</td>
		<td><sup>Superscript</sup></td>
	</tr>
	<tr>
		<td>[sub]</td>
		<td><sub>Subscript</sub></td>
	</tr>
	
</table>
